* {
  box-sizing: border-box;
}
/* vh means viewport height. its based on the browsers default viewport size */
/* 1vh = 1% of the viewport hight of the browser */
html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: monospace;
  background-color: black;
  color: rgba(0, 239, 255, 1);
  background-image: url("https://media2.giphy.com/media/jaOXKCxtBPLieRLI0c/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
  cursor: none;
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  align-items: center;
  justify-content: flex-end;
  width: 35vw;
  min-width: 20em;
  border-radius: 1rem;
  box-shadow: 0 0 20px 10px rgb(255 255 255 / 62%);
  transition: 0.25s;
}

header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10em;
  position: relative;
  background-image: url("https://i.gifer.com/origin/f2/f2deaec004f4bcba643fb992941d163b_w200.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  transition: 0.5s;
}

h1 {
  border: solid black;
  margin: 0 0 0 0;
  color: rgb(0, 0, 0);
  width: 20%;
  position: absolute;
  padding: 10px;
  right: 20%;
  top: 50%;
  text-align: center;
  background: #ffffffad;
  border-radius: 50px;
  transform: translateY(-50%);
}

h2 {
  margin: 0;
  font-size: medium;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

h3 {
  font-size: small;
  margin: 0;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  border: none;
  border-radius: 50%;
  background: white;
  transform: scale(0.8);
  transition: 0.25s;
}
button:focus {
  outline: none;
  background: white;
}

img {
  top: 1rem;
  width: 8em;
  height: auto;
  margin-top: 120px;
  margin-left: 60px;
  padding: 0;
  border: solid white;
  color: transparent;
  border-radius: 10em;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.25s 0.15s;
  right: 11rem;
  background-image: url("https://i.pinimg.com/originals/00/f9/ae/00f9ae2f5be3d8be8c741ef2a0268782.gif");
  background-size: cover;
}

section {
  display: flex;
  width: 100%;
}
/*info boxes*/

.info1 {
  display: grid;
  justify-items: center;
  align-items: start;
  width: 70%;
  margin: 0;
  padding: 1rem 1rem 3rem;
  text-align: center;
  background: rgb(65, 65, 65);
  /*border-bottom: dashed lightblue;*/
  border-top: solid white;
  box-shadow: inset 1px -4px 20px 1px rgb(0 0 0 / 62%);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 3rem;
}

.info2 {
  display: grid;
  justify-items: center;
  align-items: start;
  width: 30%;
  margin: 0;
  padding: 2rem 0 3rem;
  text-align: center;
  background: rgb(65, 65, 65);
  /*border-bottom: dashed lightblue;*/
  border-top: solid white;
  box-shadow: inset 1px -4px 20px 1px rgb(0 0 0 / 62%);
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 3rem;
}
/* grid area tels where evry element goes if it contains that property */
#school {
  grid-area: 1 / 2 / 2 / 3;
  max-height: 20.66px;
  font-size: 1.4em;
}

#jobs {
  grid-area: 2 / 2 / 3 / 3;
  max-height: 20.66px;
  font-size: 1.4em;
}

#interns {
  grid-area: 2 / 1 / 3 / 2;
  max-height: 20.66px;
  font-size: 1.4em;
}

#games {
  grid-area: 3 / 1 / 4 / 2;
  max-height: 20.66px;
  font-size: 1.4em;
}

#sports {
  grid-area: 3 / 2 / 4 / 3;
  max-height: 20.66px;
  font-size: 1.4em;
}

#full {
  grid-area: 1 / 1 / 2 / 2;
  max-height: 20.66px;
  font-size: 1.4em;
}

#age {
  grid-area: 2 / 1 / 3 / 2;
  max-height: 20.66px;
  font-size: 1.4em;
}

#city {
  grid-area: 3 / 1 / 4 / 2;
  max-height: 20.66px;
  font-size: 1.4em;
}
dt {
  margin-top: 0.25rem;
  padding-top: 0.25rem;
  /*border-top: 1px solid rgba(0,0,0,0.3);*/
  font-weight: bold;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #00c3ff;
}

/*animations that change text colors*/

@keyframes animate2 {
  0% {
    color: rgba(0, 239, 255, 1);
  }
  20% {
    color: rgb(255, 50, 50);
  }
  40% {
    color: rgba(0, 239, 255, 1);
  }
  60% {
    color: rgb(255, 50, 50);
  }
  80% {
    color: rgba(0, 239, 255, 1);
  }
  100% {
    color: rgb(255, 50, 50);
  }
  120% {
    color: rgba(0, 239, 255, 1);
  }
}
/* rotates entire article when button is pressed */
@keyframes rotate-article {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*about section*/
/* used display flex for flex box */
.about {
  width: 100%;
  display: flex;
  max-height: 160px;
}

#about1 {
  width: 70%;
  margin-top: 0;
  padding: 2rem 2rem;
  border-radius: 0 0 0rem 1rem;
  text-align: center;
  background-color: rgb(75, 75, 75);
  box-shadow: inset 0px 5px 20px 1px rgb(0 0 0 / 62%);
}

#about2 {
  width: 30%;
  margin-top: 0;
  padding: 4rem 2rem;
  border-radius: 0 0 1rem 0rem;
  text-align: center;
  background-color: rgb(75, 75, 75);
  box-shadow: inset 0px 5px 20px 1px rgb(0 0 0 / 62%);
}

/*3d sphere animation + style */

.plane {
  width: 120px;
  height: 120px;
  transform-style: preserve-3d;
  display: block;
}
.plane.main {
  position: fixed;
  top: 0;
  left: 0;
  /* bring back if we are not gonna use the follow mouse function*/
  /*right: 0;
  bottom: 0;*/
  border-radius: 100%;
  margin: auto;
  transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 20s infinite linear;
  animation: rotate 20s infinite linear;
  pointer-events: none;
  z-index: 1;
}
.plane.main .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px white, inset 0 0 60px white;
}
.plane.main .circle::before,
.plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px white;
}
.plane.main .circle::before {
  transform: translateZ(-90px);
}
.plane.main .circle::after {
  transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
  transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
  transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
  transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
  transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
  transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

/* expand content */

body.expand header {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3cbfda35-4958-464e-965d-11561bcbb648/dde6qjw-f6594d08-26cb-4c54-91c1-62b90dfc083d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNjYmZkYTM1LTQ5NTgtNDY0ZS05NjVkLTExNTYxYmNiYjY0OFwvZGRlNnFqdy1mNjU5NGQwOC0yNmNiLTRjNTQtOTFjMS02MmI5MGRmYzA4M2QuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.sBjUBKkkZ4jTAX5zEuPJSY_LmhWHR-yKhrEmfdDzLSA");
  background-position-y: 70%;
  height: 10em;
  transition: 0.5s;
}

body.expand {
  font-size: 1.15em;
  background-image: url("https://i.pinimg.com/originals/d0/02/79/d00279a83820aa6f77e1f42e73a6e3f2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}

body.expand article {
  width: 35vw;
  max-width: 60vw;
  box-shadow: 0px 0px 28px rgba(255, 0, 0, 0.8), 0 -10px 20px -5px #00c3ff;
  animation: rotate-article 1.2s;
}

body.expand dd {
  font-size: 1.75em;
}
/* animation-direction: alternate; is used to make the loop look smooth */
body.expand dt {
  animation: animate2 10s linear infinite;
  animation-direction: alternate;
}

body.expand p {
  animation-name: animate2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

body.expand img {
  width: 10em;
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/1844793235638220380/77C010E8076978C97A1C603E65DE53F4401A47CA/?imw=200&imh=200&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true");
  background-position: center;
  box-shadow: 0px 0px 28px rgba(255, 0, 0, 0.8), 0 -10px 20px -5px #00c3ff;
  transition: 0s;
}

body.expand h1 {
  box-shadow: 0px 0px 28px rgba(255, 0, 0, 0.8), 0 -10px 20px -5px #00c3ff;
}
